@charset "UTF-8";

h1, h2 {
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 1.5;
}
main {
    position: relative;
    left: 100px;
}
p {
    margin-top: 0;
    margin-bottom: 1em 0;
}


.header {
    position: relative;
    padding: 15px 0 0;
    background-color:  rgb(67, 14, 116);
}

@media screen and (min-width: 768px) {
    .header {
        padding: 0;
    }
}
.header-h1 {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5px;
}
.side {
    position: absolute;
    right: 10px;
    left: 0px;
    width: 350px;
    height: 100%;
    margin:10px;
    background-color: rgba(91, 88, 88, 0.696);
    animation: close-menu 2s forwards;
}
.side:hover{
    animation: open-menu 2s forwards;
}
@keyframes open-menu {
    0% {
    transform: translateX(-315px);
    }
    100% {
    transform: translateX(-20px);
    }
}

@keyframes close-menu {
    0% {
    transform: translateX(-20px);
    }
    100% {
    transform: translateX(-315px);
    }
}

/*リスト部分*/
ul{
    list-style-type: none;
    padding: 0;
}

li a{
    display:block;
    width:90%;
    padding-left:40px;
    padding: 10px;
    font-size:14px;
    color:#FFF;
    background:#0091EA;
    text-decoration:none;
}

li a:hover{
    background:rgba(91, 88, 88, 0.696);
}





