@charset "UTF-8";

h1, h2 {
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 1.5;
}
main {
    position: relative;
    left: 100px;
}
p {
    margin-top: 0;
    margin-bottom: 1em 0;
}


.header {
    position: relative;
    padding: 15px 0 0;
    background-color:  rgb(67, 14, 116);
}

@media screen and (min-width: 768px) {
    .header {
        padding: 0;
    }
}
.header-h1 {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5px;
}
aside {
    position: fixed;
    right: 0px;
    left: 0px;
    width: 100px;
    height: 100%;
    background-color: rgba(91, 88, 88, 0.696);
    transition: all 2s ease;
}
aside:hover {
    position: fixed;
    right: 50px;
    left: 0px;
    width: 150px;
    height: 100%;
}
ul {
    position: relative;
    margin: 1em 0;
    padding: 0;
    list-style: none;
}



a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.nav {
    display: flex;
    width: 310px;
}
.nav > li {
    position: relative;
    width: 100px;
    border-right: 1px solid #fff
}
.nav > li:first-child{
    border-left: 1px solid #0071b9;
}
.nav-a {
    display: block;
    line-height: 1;
    z-index: 1;
}
.nav {
    flex-flow: row wrap;
}
.nav a {
    padding: 0.5em 0;
    font-size: 16px;
    color: #0071b9;
    text-align: center;
}



